/* shaired item */
.btn-primary {
    background:#FD6E0A ;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* shaired item */

/* nav style */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.span {
    color: #FD6E0A;
}

.nav-list {
    list-style: none;
    display: flex;
    /* justify-items: center; */
    align-items: center;
}
nav ul li {
    padding: 0 10px;
    justify-items: center;
    align-items: center;

}
nav ul li a {
    text-decoration: none;

}
/* banner design */

.banner-getting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-tilte{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-paragraph{
    display: block;
}
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    align-items: center;
}
/* header design */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}